.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.relatedproducts h2{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin: 50px auto;
    justify-content: center;
    display: flex;
    gap:  10px;
    flex-wrap: wrap;
}