.cartitems{
    margin: 50px 25px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 1fr 2.5fr repeat(4,1.5fr);
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 1rem;
    font-weight: 600;
}
.carticon-product-icon{
    height: 4rem;
}
.cartitems-change-icon{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    max-width: 150px;
}
.cartitems-remove-icon,.cartitems-add-icon{
    padding: 0 10px;
    cursor: pointer;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}
.cartitems-quantity{
    width: 4rem;
    border: 2px solid #ebebeb;
    background: #fff;
    border-radius: 5px;
}
.cartitems-down{
    display: flex;
    margin: 50px 0;
}
.cartitems-total{
    width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    gap: 20px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.cartitems-total button{
    width: 262px; 
    height: 58px;
    outline: none;
    color: #fff;
    border: none;
    background: #ff5a5a;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px #999;
}
.cartitems-promocode{
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    margin-top: 15px;
    height: 3rem;
    background: #eaeaea;
    border-radius: 10px;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 100%;
}
.cartitems-promobox button{
    float: right;
    text-align: center;
    border-radius: 10px;
    height: 100%;
    border: none;
    background: #f9b44c;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px #999;
}
.cartitems-promobox button:hover{
    background: #ef8d27;
}
.cartitems-total button:hover{
    background: red;
    border-radius: 10px;
}
.cartitems-remove-icon:active,.cartitems-promobox button:active,.cartitems-total button:active{ 
    opacity: .9;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
@media (max-width:560px) {
    .cartitems{
        margin: auto;
    }
    .cartitems-format-main{
        display: none;
    }
    .cartitems-format{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;
    }

}