.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0 10vw;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid#888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 80px;
    justify-items: center;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 70px;
    width: 200px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 20px;
    font-weight: 500;
}