.addproduct{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 2px 30px;
    border-radius: 6px;
    background: white ;
}
.addproduct-itemfield{
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
}
.addproduct-itemfield input{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: "Poppins";
}
.addproduct-price{
    display: flex;
    gap: 40px;
}
.addproduct-selector{
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8b;
    border-radius: 4px;
}
.addproduct-thumbnail-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0;
}
.addproduct-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    outline: #6079ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.addproduct-btn:hover{
    color: white;
    background-color: #6079ff;
    box-shadow: 5px 5px lightblue;
}
@media (max-width:800px) {
    .addproduct{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}